<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://35.226.243.75:5432/bet_helper</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12345</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">20</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
<!--        <mapping class="com.cheba00.models.AvaibleBets" />-->
        <mapping class="com.cheba00.models.Bet" />
        <mapping class="com.cheba00.models.Bets" />
        <mapping class="com.cheba00.models.Bookmaker" />
        <mapping class="com.cheba00.models.EventMember" />
        <mapping class="com.cheba00.models.Events" />
        <mapping class="com.cheba00.models.Fixture" />
        <mapping class="com.cheba00.models.FixtureMember" />
        <mapping class="com.cheba00.models.Label" />
        <mapping class="com.cheba00.models.Ligue" />
        <mapping class="com.cheba00.models.LigueMember" />
        <mapping class="com.cheba00.models.LineUp" />
        <mapping class="com.cheba00.models.LineUpMember" />
        <mapping class="com.cheba00.models.Outcome" />
        <mapping class="com.cheba00.models.Player" />
        <mapping class="com.cheba00.models.Sidelined" />
        <mapping class="com.cheba00.models.Team" />
        <mapping class="com.cheba00.models.TeamMember" />
        <mapping class="com.cheba00.models.User" />
        <mapping class="com.cheba00.models.Value" />

    </session-factory>
</hibernate-configuration>